<div class="mySlides fade">
  <div class="numbertext"></div>
    <%= image_tag track.image.url(:original), width: "100%" %>
  <div class="text">
    <p><%= track.name %></p>
    <p>by <%= track.artist %></p></div>
</div>


