<div>
  <li class="thumbs grow">
    <img class="slide" src="<%= track.image.url(:original) %>">
  </li>
  <li class="thumbs grow">
    <img class="slide" src="<%= track.image.url(:original) %>">
  </li>
</div>

