<li class="dupe-thumbs">
  <% if @tracks.index(track) == 0 %>
  <img class="slide thumbs start" src="<%= track.image.url(:original) %>">
  <% else %>
  <img class="slide thumbs grow" src="<%= track.image.url(:original) %>">
  <% end %>
  <img class="slide thumbs" src="<%= track.image.url(:original) %>">
</li>


