<h2>Samplified Playlist Name</h2>
<div>
  <ul>
    <%= render partial: @sampler.tracks.order("created_at ASC") %>
  </ul>
</div>

<%= audio_tag("https://s3.us-east-2.amazonaws.com/dbc-team-samplify-test/#{@sampler.id}.mp3", controls: true) %>

<div class="download-link"></div>

<%= link_to "Home", user_path(current_user) %>

