<div class="main-sub">
  <%= image_tag "samplify.png", id: "splash-img" %>

  <h1 id="splash-title">Samplify!</h1>
  <div id="login">

    <%= link_to 'Sign in with Spotify', '/auth/spotify?show_dialog=true' %>
    <%= image_tag "hand-drawn-spotify.png", id: "spotify" %>
  </div>
  <script type="text/javascript" src="https://www.spotify.com/us/logout/" />
</div>
