<div class="main-sub">
  <%= image_tag "samplify", id: "splash-img" %>

  <h1 id="splash-title">Samplify!</h1>
  <div id="login">
    <%= image_tag "spotify", id: "spotify" %>

    <%= link_to 'Sign in with Spotify', '/auth/spotify?show_dialog=true' %>
  </div>
  <script type="text/javascript" src="https://www.spotify.com/us/logout/" />
</div>
