<div class="main-sub">
<h1>Welcome to Samplify!</h1>
  <%= link_to 'Sign in with Spotify', '/auth/spotify?show_dialog=true' %>
  <script type="text/javascript" src="https://www.spotify.com/us/logout/" />


</div>
