/*html, body {
  height: 100%;
}*/

/*##############################*/
/* USER SHOW/PROFILE: FLEXBOX; */
/*###############################*/
.profile-page {
  display: flex;
  justify-content: space-evenly;
  height: 75%;
  position: absolute;
}

.playlist-link {
  font-size: 2em;
}

.profile-pic-container {
  height: 25%;
}

.page-content-left {
  padding-right: 5px;
  /*overflow-y: scroll;*/
  overflow-x: hidden;
  border: 1px solid black;
  flex: 1;
}

.page-content-right {
  padding-left: 5px;
 /* overflow-y: scroll;*/
  overflow-x: hidden;
  border: 1px solid black;
  flex: 1;
}

/*###########################*/
/* LISTED ITEMS */
/*###########################*/

.playlists {
  font-size: 2em;
}

.list-style-none {
  list-style-type: none;
  padding-left: 0;
}

.button-link a {
  text-decoration: none;
  font-size: 2em;
  color: #695958;
}

.button-link {
  margin-bottom: 20px;
}

.samplify-button-block {
}

/*############################*/
/* SAMPLER NEW PAGE */
/*############################*/

.new-sampler-container {
  margin: 3% 3%;
  width: 100%;
}

.track-list {
  width: 90%;
  flex-direction: column;
  height: 75%;
  position: absolute;
  justify-content: space-evenly;

  overflow-y: scroll;
}

.new-sampler-title {
  font-size: 4em;
  overflow-x: hidden;
  margin: 0;
}

.track-container img {
  float: right;
}

.track-container {
  padding: 20px 0;
  overflow: auto;
  height: 300px;
}

.track-info {
  width: 100%;
}

.track-name {
  font-size: 3em;
  overflow-x: hidden;
}
