

.profile-page {
  display: flex;
  justify-content: space-evenly;
  height: 75%;
  position: absolute;
}

.page-content-left {
  padding-right: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
}

.page-content-right {
  padding-left: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
}

.playlists {
  font-size: 2em;
}

.list-style-none {
  list-style-type: none;
  padding-left: 0;
}

.button-link a {
  text-decoration: none;
  font-size: 2em;
  color: #695958;
}

.button-link {
  margin-bottom: 20px;
}

.samplify-button-block {
}

.playlist-list {
  margin: 50px;
}

.playlist-link {
}

.playlist-link a {
  text-decoration: none;
  color: #695958;
}

.profile-pic-container {
  height: 400px;
}

.new-sampler-container {
  margin: 3% 3%;
  height: 100%;
}

.track-list {
  max-height: 50%;
}

.new-sampler-title {
  font-size: 3em;
  margin: 0;
}

.track-container img {
  float: right;
}

.track-container {
  height: 300px;
  overflow: auto;
  padding: 20px 0;
}

.track-info {
  width: 100%;
  max-height: 300px;
}

.track-name {
  font-size: 4em;
  overflow-x: hidden;
}