/*html, body {
  height: 100%;
}*/

.profile-page {
  display: flex;
}

.page-content-left {
  flex: 1 1 auto;
  padding-right: 5px;
  height: 1000px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
}

.page-content-right {
  flex: 1 1 auto;
  height: 1000px;
  width: 100%;
  padding-left: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
}

.playlists {
  font-size: 2em;
}

.list-style-none {
  list-style-type: none;
  padding-left: 0;
}

.button-link a {
  text-decoration: none;
  font-size: 2em;
  color: #695958;
}

.button-link {
  margin-bottom: 20px;
}

.samplify-button-block {
  width: 300px;
  margin: 5px 0;
  background-color: #4DCCBD;
  padding: 20px 0;
  text-align: center;
  border-radius: 15px;
  border: none;
}

.playlist-list {
  margin: 50px;
}

.playlist-link a {
  text-decoration: none;
  color: #695958;
}

.profile-pic-container {
}

.new-sampler-container {
  margin: 3% 3%;
  height: 100%;
}

.track-list {
  max-height: 50%;
}

.new-sampler-title {
  font-size: 3em;
  margin: 0;
}

.track-container img {
  float: right;
}

.track-container {
  height: auto;
  overflow: auto;
  padding: 20px 0;
}

.track-info {
  width: 100%;
}