/*html, body {
  height: 100%;
}*/

/*##############################*/
/* USER SHOW/PROFILE: FLEXBOX; */
/*###############################*/
.profile-page {
/*  display: flex;*/
  justify-content: space-evenly;
  height: 75%;
  padding-bottom: 150px;
  width: 100%;
}

.playlist-link {
  font-size: 2em;
  text-align: center;
  margin-bottom: .2em;
}

.profile-pic-container {
  height: 25%;
}

.page-content-left, .page-content-right {
  height: 60%;
  width: 90%;
  padding-right: 5px;
  /*overflow-y: scroll;*/
  overflow-x: hidden;
  border: 3px solid #E98074;
  border-radius: 15px;
  display: block;
  position: absolute;
  top: 33em;
  left: 3em;
}

.page-content-right {
  display: none;
}


/*###########################*/
/* LISTED ITEMS */
/*###########################*/

.playlists {
  font-size: 2em;
}

.list-style-none {
  list-style-type: none;
  padding-left: 0;
}

.button-link a {
  text-decoration: none;
  font-size: 2em;
  color: #695958;
}

.button-link {
  margin-bottom: 20px;
}

.samplify-button-block {
/*  overflow-x: hidden;
  max-width: 80%;*/
}

/*############################*/
/* SAMPLER NEW PAGE */
/*############################*/

.new-sampler-container {
  margin: 3% 3%;
  width: 100%;
}

.track-list {
  width: 90%;
  flex-direction: column;
  height: 75%;
  position: absolute;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.new-sampler-title {
  font-size: 4em;
  overflow-x: hidden;
  margin: 0;
}

.track-container img {
  float: right;
}

.track-container {
  padding: 20px 0;
  margin: 1em;
  /*overflow: auto;*/
  height: 300px;
  font-size: 2.5em;

}

.track-name {
  font-size: 1.3em;
  display: inline-block;
  margin: 0;
}

.button-link a {
  text-decoration: none;
  color: #695958;
  font-size: 2em;
}

.button-block {
  width: 300px;
  background-color: #4DCCBD;
  padding: 20px 0;
  text-align: center;
  border-radius: 15px;
  border: none;
}
