body {
  margin: 2%;
  background-color: #EAE7DC;
  overflow: hidden;

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #E85A4F;
}

a:hover {
  color: #F2CC8F;
}

.wrapper {
  margin-bottom: -100px;
}

.session-buttons {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 80px;
/*  vertical-align: bottom;
*/}

.sampler-buttons {
  justify-content: space-around;
  margin: 0 auto;
  postion: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  padding-bottom: 100px;
  margin-bottom: 40px;
}

.button {
  font-size: 4em;
  width: 300px;
  height: 100px;
  color: #130303;
  border: 1px solid #E98074;
  font-family: 'Permanent Marker';
  background-color: #D8C3A5;
  margin: 25px;
  margin-bottom: 25px;
  display: inline-block;
  border-radius: 10%;
}

.errors {
  color: red;
}

* {box-sizing:border-box}

audio {
  width: 100%;
  height: 100px;
}

#play, #pause {
  display: flex;
  margin: auto;
  padding-bottom: 2em;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

.profile-pic {
  margin: auto;
  width: 40%;
  border-radius: 25%;
  padding: 10px;
}

.profile-name {
  font-size: 5em;
  display: inline-block;
  color: #E85A4F;
  margin: auto;
  position: absolute;
  top: 2em;
}

.profile-name, a {
  font-family: 'Francoise One', sans-serif;
  font-weight: bold;
}

/* Caption text */
.show-track-info p {
  color: #E85A4F;
  font-family: 'Francoise One', sans-serif;
  font-size: 2.3em;
  overflow: hidden;
  text-align: center;
}

.track-info {
  max-width: 300px;
  height: 300px;
  overflow: hidden;
}

.sampler-title {
  font-family: 'Francoise One', sans-serif;
  font-size: 4em;
  color: #E85A4F;
  text-align: center;
  margin: 20px;
  margin-bottom: 40px;
}

.playlist-button, .sampler-button {
  font-family: 'Francoise One', sans-serif;
  font-size: 3.5em;
  color: #FFF1D0;
  width: 50%;
  outline: none;
  background-color: #E85A4F;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 5px;

}

.pressed {
  background-color: #E98074;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.profile-buttons {
  position: relative;
  height: 70px;
  width: 100%;
  display: flex;
}

.new-sampler-title {
  font-family: 'Permanent Marker', sans-serif;
  color: #E85A4F;
}

.track-name {
  font-family: 'Francoise One', sans-serif;
  color: #E85A4F;
  overflow-wrap: normal;
}

.track-name h3 {
  overflow-wrap: break-word;
}

.thumbs-container {
  margin: 2em;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.show-buttons-container input {
  font-size: 2.5em;
  width: 25%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.download-link .center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/*Animation CSS*/

.start {
  transition: transform 0s;
  transform-origin: top left;
}

.grow {
  transition: transform 2s;
  transform-origin: top left;
}

.slide {
  width: 100px;
  height: 100px;
}

.dupe-thumbs {
  width: 100px;
  height: 100px;
  position: relative;
}

.thumbs {
  top: 0;
  left: 0;
  position: absolute;
}

.slide-location {
  width: 1000px;
  height: 1000px;
}


