body {
  margin: 2%;
  background-color: #0A2239;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #F0C808;
}

a:hover {
  color: #F2CC8F;
}

* {box-sizing:border-box}

audio {
  width: 100%;
  height: 100px;
}

p {
  color: #F2CC8F;
  font-family: 'Francoise One', sans-serif;
  font-size: 2em;
}

#play {
  display: flex;
  margin: auto;
}

/*h1 {
  font-family: 'Permanent Marker', cursive;
}*/

/*.profile-pic-container {
  width: 100%;
}*/

.profile-pic {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.profile-name {
  font-size: 5em;
  /*color: #FFF1D0;*/
  color: #EB6534;
  text-align: center;
}

.profile-name, a {
  font-family: 'Francoise One', sans-serif;
  font-weight: bold;
}

.playlist-header {
  font-family: 'Francoise One', sans-serif;
  font-size: 3em;
  color: #FFF1D0;
}

.new-sampler-title {
  font-family: 'Permanent Marker', sans-serif;
  color: #EB6534;
}

.track-name {
  font-family: 'Permanent Marker', sans-serif;
  color: #437F97;
}

.thumbs-container {
  margin: 2em;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 45px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
