ul {
  list-style-type: none;
}

* {box-sizing:border-box}

audio {
  width: 100%;
  height: 100px;
}

#play {
  display: flex;
  margin: auto;
}

.thumbs-container {
  margin: 2em;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  /*color: #f2f2f2;*/
  font-size: 45px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Animation CSS*/

.grow {
  transition: transform 2s;
  transform-origin: top left;
}

.slide {
  width: 100px;
  height: 100px;
}

.dupe-thumbs {
  position: relative;
}

.thumbs {
  top: 0;
  left: 0;
  position: absolute;
}


